<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
        
        <!-- title of site -->
        <title>Women's Health Compass</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="assets/logo/favicon.png"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!--linear icon css-->
		<link rel="stylesheet" href="assets/css/linearicons.css">

        <!--flaticon.css-->
		<link rel="stylesheet" href="assets/css/flaticon.css">

		<!--animate.css-->
        <link rel="stylesheet" href="assets/css/animate.css">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="assets/css/bootsnav.css" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="assets/css/style.css">
        
        <!--responsive.css-->
        <link rel="stylesheet" href="assets/css/responsive.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
		<style>
			.logo {
				display: inline-block;
				vertical-align: middle;
			}
	
			.logo img {
				width: 200px; /* Set the width of your logo image */
				height: auto; /* Maintain aspect ratio */
			}
	
			.site-title {
				display: inline-block;
				vertical-align: middle;
				font-size: 100px; /* Adjust the text size of the site title */
				margin-left: 20px; /* Adjust the distance between the logo and text */
			}
		
			.logo {
				display: inline-block;
				vertical-align: middle;
			}
	
			.logo img {
				width: 200px; /* Set the width of your logo image */
				height: auto; /* Maintain aspect ratio */
			}
	
			.site-title {
				display: inline-block;
				vertical-align: middle;
				font-size: 100px; /* Adjust the text size of the site title */
				margin-left: 20px; /* Adjust the distance between the logo and text */
			}

			.product-table {
				width: 100%;
				border-collapse: collapse;
			}

			.product-table th {
			background-color: #ffbbbb; /* pink */
			}

			.product-table td {
			padding: 5px;
			}

			.add-to-cart-btn {
			background-color: #000000; /* black */
			color: white; /* white text */
			padding: 10px;
			cursor: pointer;
			}
			.body{
				background: url(bg\ 1.15.20\ AM.jpg);
			}
		</style>

    </head>
	
	<body>
		
		
	
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
	
		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">
			<div class="logo">
				<img src="assets/logo/favicon.png" alt="Logo">
			</div>
			

			<!-- top-area Start -->
			<div class="top-area">
				<div class="header-area">
					<!-- Start Navigation -->
				    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				        <div class="container">

				            <!-- Start Header Navigation -->
				            <div class="navbar-header">
				                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				                    <i class="fa fa-bars"></i>
				                </button>
				        

				            </div><!--/.navbar-header-->
				            <!-- End Header Navigation -->

				            <!-- Collect the nav links, forms, and other content for toggling -->
				            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
				                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
				                    <li class=" scroll active"><a href="#home">home</a></li>
				                    <li class="scroll"><a href="#service">Pregnancy & Maternity</a></li>
				                    <li class="scroll"><a href="#featured-cars">Sexual & Reproductive Health</a></li>
				                    <li class="scroll"><a href="#new-cars">Product</a></li>
									<li class="scroll"><a href="#clients-say">Feedback</a></li>
				                    <li class="scroll"><a href="#contact">Contact</a></li>
				                </ul><!--/.nav -->
				            </div><!-- /.navbar-collapse -->
				        </div><!--/.container-->
				    </nav><!--/nav-->
				    <!-- End Navigation -->
				</div><!--/.header-area-->
			    <div class="clearfix"></div>

			</div><!-- /.top-area-->
			<!-- top-area End -->

			<div class="container">
				<div class="welcome-hero-txt">
					<h2>"Empowering Women, Nurturing Health. Discover a journey to wellness with our comprehensive resources and support. Welcome to a community that cares for every step of your health journey"</h2>
				</div>
			</div>

			

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

		<!--service start -->
		<section id="service" class="service" style="padding-top: 70px; padding-bottom: 200px;">	  
			<div class="container">
				<div class="service-content">
					<div class="row">
                        <a href="../user/model/prenatal.html">
                            <div class="col-md-4 col-sm-6" style="padding-top: 23px;">
                                <style>
                                    .single-service-icon img {
                                        width: 250px; /* Adjust the width to your desired size */
                                        height: 200px; /* Adjust the height to your desired size */
                                    }
                                </style>
                        
							<div class="single-service-item" style="padding-top: 10px; padding-left: 10px; ">
                                    <div class="single-service-icon">
                                        <img src="../user/img/pregnantexercice.png" alt="Pregnancy Exercise">
                                    </div>
                                    
                                    <h2><a href="#">Prenatal Classes</a></h2>
                                    <p style="text-align: left; padding-left: 50px;">
                                        -> Prenatal Exercises<br>
                                        -> Nutrition<br>
                                        -> Childbirth Preparation<br>
										<br>
                                    </p>
                                </div>
                            </div>
                        </a>
                        
                        
                        
                        <a href="../user/model/tracker.html">
                            <div class="col-md-4 col-sm-6" style="padding-top: 23px;">
								<div class="single-service-item" style="padding-top: 10px; padding-left: 10px; ">
                                    <div class="single-service-icon">
                                        <img src="../user/img/pregnancytracker.png" alt="Pregnancy Tracker">
                                    </div>
                                    <h2><a href="#">Pregnancy Tracker</a></h2>
                                    <p style="text-align: left; padding-left: 60px;">
                                        -> Personalized Insights<br>
                                        -> Week-By-Week Guidance<br>
                                        -> Conception And Delivery<br>
										<br>
                                    </p>
                                </div>
                            </div>
                        </a>
                        
                        
                        <a href="../user/model/parenting.html">
                            <div class="col-md-4 col-sm-6">
								<div class="single-service-item" style="padding-top: 10px; padding-left: 10px; ">
                                    <div class="single-service-icon">
                                        <img src="../user/img/maternity.png" alt="Maternity">
                                    </div>
                                    <h2><a href="#">Parenting Guides</a></h2>
                                    <p style="text-align: left; padding-left: 60px;">
                                        -> NewBorn Care<br>
                                        -> Recovery And Welness Programs<br>
                                        -> Infant Safety Measures
                                    </p>
                                </div>
                            </div>
                        </a>

					</div>
				</div>
			</div><!--/.container-->

		</section><!--/.service-->
		<!--service end-->

		<!--new-cars start -->
		<section id="new-cars" class="new-cars" style="padding-top: 30px; padding-bottom: 30;">
			<div class="container">
				<div class="section-header">
					<h2>Women's Health Products</h2>
				</div><!--/.section-header-->
				<div class="new-cars-content" style="padding-top: 40px;">

					<div class="categories">
						<ul>
						  <li><a href="#">Skin Care</a></li>
						  <li><a href="#">Anxiety Medicines</a></li>
						  <li><a href="#">Pregnancy Medicines</a></li>
						</ul>
					  </div>
					
					  <table class="product-table">
						<thead>
						  <tr>
							<th>Product Name</th>
							<th>Image</th>
							<th>Description</th>
							<th>Category</th>
							<th>Add to Cart</th>
						  </tr>
						</thead>
						<tbody>
						  <tr>
							<td>CeraVe Moisturizing Facial Cleanser</td>
							<td><img src="../View/img/1.jpg" width="200" height="150" ></td>
							<td>A gentle, non-irritating cleanser that is perfect for sensitive skin.</td>
							<td>Skin Care</td>
							<td><button class="add-to-cart-btn">Add to Cart</button></td>
						  </tr>
						  <tr>
							<td>Neutrogena Hydro Boost Water Gel</td>
							<td><img src="../View/img/2.jpg" width="200" height="150"  alt="Neutrogena Hydro Boost Water Gel"></td>
							<td>A lightweight, oil-free moisturizer that provides deep hydration.</td>
							<td>Skin Care</td>
							<td><button class="add-to-cart-btn">Add to Cart</button></td>
						  </tr>
						  <tr>
							<td>EltaMD UV Clear Broad-Spectrum SPF 46</td>
							<td><img src="../View/img/3.jpg" width="200" height="150"  alt="EltaMD UV Clear Broad-Spectrum SPF 46"></td>
							<td>A sheer, lightweight sunscreen that protects against both UVA and UVB rays.</td>
							<td>Skin Care</td>
							<td><button class="add-to-cart-btn">Add to Cart</button></td>
						  </tr>
						  </tbody>
					  </table>
				</div>
				
			</div><!--/.container-->

		</section><!--/.new-cars-->
		<!--new-cars end -->

		<!--featured-cars start -->
		<section id="featured-cars" class="featured-cars">
			<div class="container">
				<div class="section-header">
					<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Women's Sexual and Reproductive Health</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1><b>Women's Sexual and Reproductive Health</b</h1>
    </header>
   
    <section id="overview">
        <div class="section">
            <h1>overview</h1>
            <p>
				Women's sexual and reproductive health is vital for their well-being. It covers family planning, prenatal care, menstrual health, and more. Access to comprehensive healthcare is essential, including check-ups, screenings, and vaccinations to prevent issues. Understanding the menstrual cycle, birth control, safe sex, gynecological exams, preconception counseling, and pregnancy support are crucial for women's reproductive health.





            </p>

        </div>
    </section>
    <section id="anatomy">
        <h2>Anatomy</h2>
        <p>The female reproductive system comprises vital organs:

			Ovaries: Produce eggs and hormones.
			Fallopian Tubes: Pathways for eggs.
			Uterus: Where a fertilized egg develops during pregnancy.
			Cervix: Connects the uterus to the vagina.
			Vagina: Birth canal and passage for menstrual flow.
			External Genitalia (Vulva): Includes structures for sexual pleasure.
			Breasts: Play a role in breastfeeding and hormonal changes.
			Hormonal regulation is crucial for the menstrual cycle and fertility. Understanding this system is essential for women's reproductive health and overall well-being.



            <link rel="stylesheet" type="text/css" href="styles.css">
            </head>

            <body>
                <div class="image-container">
                    <img src="assets/images/sexual/img2.png" alt="Your Image">
                </div>



        </p>
    </section>
    <section id="menstrual-cycle">
        <h2>Menstrual Cycle</h2>
        <p>A woman's menstrual cycle is a natural and recurring process that plays a central role in her reproductive
            health. To calculate a woman's menstrual cycle:

            Note the start date of her last period.
            Calculate the average cycle length (usually around 28 days).
            Estimate ovulation around the midpoint of the cycle (e.g., Day 14).
            Identify the fertile window as 5 days before and on the ovulation day.
            Predict the next period by adding the cycle length to the last period's start date.
            Keep in mind that these are rough estimates, and tracking over time with a calendar or app can provide more accuracy. Irregular cycles or health concerns should be discussed with a healthcare provider.





        </p>
        <div class="image-container">
            <img src="assets/images/sexual/img3.png "width="300">
        </div>
    </section>

    <section id="reproductive-system">
        <h2>Reproductive System</h2>
        <p>
            The female reproductive system is a remarkable and intricate network of organs and structures designed for
            the purpose of human reproduction. This complex system consists of several key components, including the
            ovaries, which produce eggs and hormones, such as estrogen and progesterone. During the menstrual cycle, one
            of these eggs is released into the fallopian tubes, where it may encounter sperm for fertilization here is the:
			Ovulation is a pivotal and fascinating process within the female reproductive system. It's the moment when one of the ovaries releases a mature egg, which is then ready for fertilization. This typically occurs around the middle of the menstrual cycle, influenced by hormonal changes. When the egg is released, it embarks on a journey through the fallopian tube, where it can potentially meet sperm and become fertilized..</p>
        </br>
        <video width="1200" height="240" controls>
            <source src="assets/images/sexual/video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </br>
</br>

   
<!DOCTYPE html>
<html>

<head>
    <title>Women's Reproductive and Sexual Health Charts</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div  style="position: relative; height:40vh; width:80vw; text-align: center;">
        <h2>Bar Chart: Common Reproductive Health Concerns</h2>
        <br>
        <canvas id="reproductiveHealthChart" width="200" height="100"></canvas>
    </div>
</br>
</br>

    <div style="text-align: center;position: relative; height:40vh; width:80vw;">
		<br><br>
		<br><br>
        <h2>Pie Chart: Contraception Methods</h2>
        <br>
        <canvas id="contraceptionChart" width="200" height="100"></canvas>
    </div>

    <script>
        // Data for the Bar Chart
        var reproductiveHealthData = {
            labels: ["Breast Cancer", "STDs", "Fertility Issues", "Prenatal Care"],
            datasets: [{
                label: "Percentage of Women Concerned",
                data: [25, 30, 20, 15],
                backgroundColor: ["#ff5733", "#ffcc00", "#33cc33", "#3399ff"]
            }]
        };

        // Data for the Pie Chart
        var contraceptionData = {
            labels: ["Pill", "Condom", "IUD", "Sterilization", "Others"],
            datasets: [{
                data: [45, 20, 15, 10, 10],
                backgroundColor: ["#ff5733", "#ffcc00", "#33cc33", "#3399ff", "#990099"]
            }]
        };

        // Create Bar Chart
        var reproductiveHealthChart = new Chart(document.getElementById('reproductiveHealthChart'), {
            type: 'bar',
            data: reproductiveHealthData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Create Pie Chart
        var contraceptionChart = new Chart(document.getElementById('contraceptionChart'), {
            type: 'pie',
            data: contraceptionData
        });
    </script>
</body>
</br>
</br>
</br>
</html>
    <section style="padding-top: 200px;" id="resources">
        <h2>Resources</h2>
        <p>Here is some suggestions for reputable organizations and topics to explore for information on women's sexual
            and reproductive health. You can search for these resources using your preferred search engine or library:

            <style>
                body {
                    font-family: Arial, sans-serif;
                    background-color: #f0f0f0;
                    margin: 0;
                    padding: 0;
                }

                .section {
                    display: flex;
                    align-items: center;
                    background-color: #fff;
                    border-radius: 10px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    margin: 20px;
                    padding: 20px;
                }

                .text {
                    flex: 1;
                    padding: 0 20px;
                }

                h1 {
                    color: #333;
                }

                p {
                    color: #555;
                    line-height: 1.6;
                }

                .links {
                    flex: 1;
                }

                .links ul {
                    list-style-type: none;
                    padding: 0;
                }

                .links ul li {
                    margin: 10px 0;
                }

                .links a {
                    text-decoration: none;
                    color: #0074cc;
                }

                .image {
                    flex: 1;
                }

                img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 5px;
                }
            </style>
            </head>

            <body>
                <div class="section">
                    <div class="text">


                        <p>
                            Understanding the female reproductive system is essential for women's health and family
                            planning.Here are some suggestions for some reputable organizations and topics to explore
                            for information on women's sexual and reproductive health. You can search for these
                            resources using your preferred search engine or library:
                    </div>
                    <div class="links">
                        <ul>
                            <li><a href="https://www.who.int" target="_blank">WHO</a></li>
							<br></br>
                            <li><a href="https://www.guttmacher.org" target="_blank">Guttmacher Institute</a></li>
							<br></br>
                            <li><a href="https://pubmed.ncbi.nlm.nih.gov" target="_blank">PubMed</a></li>
							<br></br>
                            <li><a href="https://www.acog.org" target="_blank">American College of Obstetricians and
                                    Gynecologists (ACOG)</a></li>
                        </ul>




        </p>

    </section>
</br>
<label for="didLikeContent">Did you like this content?</label>
<input type="radio" id="didLikeContent" name="didLikeContent" value="yes"> Yes
<input type="radio" id="didLikeContent" name="didLikeContent" value="no"> No
<br></br

</body>
</section>

<html>
<head>
  <title>My Page</title>
</head>
<body>
  <p style="text-align: center; font-size: 36px;">
    Visit our <a href="../carvilla-v1.0/model/forum.html" style="text-decoration: none; color: #ff69b4; font-weight: bold; font-size: 48px;">forum</a> for discussions.
  </p>
</body> 
</html>


			<br></br>
        <footer>
            <p>&copy; 2023 Women's Health Initiative</p>
        </footer>

				</div>
			</div><!--/.container-->
			
			
		</section><!--/.featured-cars-->
		<!--featured-cars end -->

	

	<!-- clients-say strat -->
	<section id="clients-say"  class="clients-say">
		<div class="wrapper">
		<h3>Your feedback is important to us!</h3>
		<form action="#">
			<div class="rating">
			  <input type="number" name="rating" hidden>
			  
			  <i class='bx bx-star star' style="--i: 0;"></i>
			  <i class='bx bx-star star' style="--i: 1;"></i>
			  <i class='bx bx-star star' style="--i: 2;"></i>
			  <i class='bx bx-star star' style="--i: 3;"></i>
			  <i class='bx bx-star star' style="--i: 4;"></i>
			</div>
			<label for="category" class="category-label">Category:</label>
			<select id="category" name="category">
			  <option value="usability">Usability</option>
			  <option value="performance">Performance</option>
			  <option value="content">Content</option>
			  <option value="feature-request">Feature Request</option>
			  <option value="bug-report">Bug Report</option>
			  <option value="account-profile">Account and Profile</option>
			  <option value="payments-transactions">Payments and Transactions</option>
			  <option value="customer-support">Customer Support</option>
			  <option value="privacy-security">Privacy and Security</option>
			  <option value="other">Other</option>
		  </select>
	  
			<textarea name="opinion" cols="30" rows="5" placeholder="Your opinion..."></textarea>
			<div class="btn-group">
			  <button type="submit" class="btn submit">Submit</button>
			  <button class="btn cancel">Cancel</button>
			</div>
		  </form>
		</div>
		<script>
			const allStar = document.querySelectorAll('.rating .star')
		const ratingValue = document.querySelector('.rating input')
		
		allStar.forEach((item, idx)=> {
			item.addEventListener('click', function () {
				let click = 0
				ratingValue.value = idx + 1
		
				allStar.forEach(i=> {
					i.classList.replace('bxs-star', 'bx-star')
					i.classList.remove('active')
				})
				for(let i=0; i<allStar.length; i++) {
					if(i <= idx) {
						allStar[i].classList.replace('bx-star', 'bxs-star')
						allStar[i].classList.add('active')
					} else {
						allStar[i].style.setProperty('--i', click)
						click++
					}
				}
			})
		})
		
		
		
		  </script>

	</section><!--/.clients-say-->
		<!-- clients-say end -->
		<!-- clients-say strat -->
	
		<section id="clients-say"  class="clients-say" style="padding-top: 20px;">
			<div class="container">
				<div class="section-header">
					<h2>what our clients say</h2>
				</div><!--/.section-header-->
				<div class="row">
					<div class="owl-carousel testimonial-carousel">
						<div class="col-sm-3 col-xs-12" >
							<div class="single-testimonial-box" >
								<div class="testimonial-description">
									<div class="testimonial-info">
										<div class="testimonial-img">
											<img src="../assets/images/clients/c2.jpeg" alt="image of clients person" />
										</div><!--/.testimonial-img-->
									</div><!--/.testimonial-info-->
									<div class="testimonial-comment">
										<p>
											"Your pregnancy section is a blessing! It provided me with a wealth of information I couldn't easily find elsewhere. From prenatal exercises to week-by-week guides, it's my go-to for all things related to pregnancy."
										<br>
										<br>
										</p>
									</div><!--/.testimonial-comment-->
									<div class="testimonial-person">
										<h2><a href="#">Emma Peters</a></h2>
										<h4>France</h4>
									</div><!--/.testimonial-person-->
								</div><!--/.testimonial-description-->
							</div><!--/.single-testimonial-box-->
						</div><!--/.col-->
						<div class="col-sm-3 col-xs-12">
							<div class="single-testimonial-box">
								<div class="testimonial-description">
									<div class="testimonial-info">
										<div class="testimonial-img">
											<img src="../assets/images/clients/c1.jpeg" alt="image of clients person" />
										</div><!--/.testimonial-img-->
									</div><!--/.testimonial-info-->
									<div class="testimonial-comment">
										<p>
											"I felt supported and informed throughout my pregnancy journey, thanks to your website. The comprehensive resources on maternity, childbirth preparation, and even postpartum care are nothing short of amazing."
										<br>
										<br>
										</p>
									</div><!--/.testimonial-comment-->
									<div class="testimonial-person">
										<h2><a href="#">Lana Del Rey</a></h2>
										<h4>New York</h4>
									</div><!--/.testimonial-person-->
								</div><!--/.testimonial-description-->
							</div><!--/.single-testimonial-box-->
						</div><!--/.col-->
						<div class="col-sm-3 col-xs-12">
							<div class="single-testimonial-box">
								<div class="testimonial-description">
									<div class="testimonial-info">
										<div class="testimonial-img">
											<img src="assets/images/clients/c2.png" alt="image of clients person" />
										</div><!--/.testimonial-img-->
									</div><!--/.testimonial-info-->
									<div class="testimonial-comment">
										<p>
											"The pregnancy model is a standout feature! It's so reassuring to find such a well-organized and educational platform. The content is not just detailed but also empathetic to the needs of expecting mothers."										
											<br>
											<br>
	
										</p>
									</div><!--/.testimonial-comment-->
									<div class="testimonial-person">
										<h2><a href="#">Coleen Hoover</a></h2>
										<h4>washington</h4>
									</div><!--/.testimonial-person-->
								</div><!--/.testimonial-description-->
							</div><!--/.single-testimonial-box-->
						</div><!--/.col-->
					</div><!--/.testimonial-carousel-->
				</div><!--/.row-->
			</div><!--/.container-->
	
		</section><!--/.clients-say-->	

		<!--brand strat -->
		<section id="brand"  class="brand">
			<div class="container">
				<div class="brand-area">
					<div class="owl-carousel owl-theme brand-item">
						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br1.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br2.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br3.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br4.png" alt="brand-image" />
							</a>
						</div><!--/.item-->

						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br5.png" alt="brand-image" />
							</a>
						</div><!--/.item-->

						<div class="item">
							<a href="#">
								<img src="assets/images/brand/br6.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
					</div><!--/.owl-carousel-->
				</div><!--/.clients-area-->

			</div><!--/.container-->

		</section><!--/brand-->	
		<!--brand end -->

		<!--blog start -->
		<section id="blog" class="blog"></section><!--/.blog-->
		<!--blog end -->

		<!--contact start-->
		<footer id="contact"  class="contact">
			<div class="container">
				<div class="footer-top">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<div class="footer-logo">
									<a href="index.html">Women's Health Compass</a>
								</div>
								<p>
									Ased do eiusm tempor incidi ut labore et dolore magnaian aliqua. Ut enim ad minim veniam.
								</p>
								<div class="footer-contact">
									<p>info@themesine.com</p>
									<p>+1 (885) 2563154554</p>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h2>about devloon</h2>
								<ul>
									<li><a href="#">about us</a></li>
									<li><a href="#">career</a></li>
									<li><a href="#">terms <span> of service</span></a></li>
									<li><a href="#">privacy policy</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<div class="single-footer-widget">
								<h2>top brands</h2>
								<div class="row">
									<div class="col-md-7 col-xs-6">
										<ul>
											<li><a href="#">BMW</a></li>
											<li><a href="#">lamborghini</a></li>
											<li><a href="#">camaro</a></li>
											<li><a href="#">audi</a></li>
											<li><a href="#">infiniti</a></li>
											<li><a href="#">nissan</a></li>
										</ul>
									</div>
									<div class="col-md-5 col-xs-6">
										<ul>
											<li><a href="#">ferrari</a></li>
											<li><a href="#">porsche</a></li>
											<li><a href="#">land rover</a></li>
											<li><a href="#">aston martin</a></li>
											<li><a href="#">mersedes</a></li>
											<li><a href="#">opel</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<h2>news letter</h2>
								<div class="footer-newsletter">
									<p>
										Subscribe to get latest news  update and informations
									</p>
								</div>
								<div class="hm-foot-email">
									<div class="foot-email-box">
										<input type="text" class="form-control" placeholder="Add Email">
									</div><!--/.foot-email-box-->
									<div class="foot-email-subscribe">
										<span><i class="fa fa-arrow-right"></i></span>
									</div><!--/.foot-email-icon-->
								</div><!--/.hm-foot-email-->
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="row">
						<div class="col-sm-6">
							<p>
								&copy; copyright.designed and developed by <a href="https://www.themesine.com/">themesine</a>.
							</p><!--/p-->
						</div>
						<div class="col-sm-6">
							<div class="footer-social">
								<a href="#"><i class="fa fa-facebook"></i></a>	
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-pinterest-p"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>	
							</div>
						</div>
					</div>
				</div><!--/.footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.contact-->
		<!--contact end-->


		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="assets/js/jquery.js"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="assets/js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="assets/js/bootsnav.js"></script>

		<!--owl.carousel.js-->
        <script src="assets/js/owl.carousel.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--Custom JS-->
        <script src="assets/js/custom.js"></script>
        
    </body>
	
</html>