<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <title>Women wellness compass</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" /> 
     <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" /> 
     <!-- MORRIS CHART STYLES-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" /> 
        <!-- CUSTOM STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /> 
   <style>
    body {
      font-family: sans-serif;
    }

    .categories {
      float: left;
      width: 200px;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
    }

    .categories ul {
      list-style-type: none;
      padding: 0;
    }

    .categories li a {
      text-decoration: none;
      color: #000;
    }

    .categories li a:hover {
      color: #ff0000;
    }

    .product-table {
      width: 100%;
      border-collapse: collapse;
    }

    .product-table th {
      background-color: #ffbbbb; /* pink */
    }

    .product-table td {
      padding: 5px;
    }

    .add-to-cart-btn {
      background-color: #000000; /* black */
      color: white; /* white text */
      padding: 10px;
      cursor: pointer;
    }
  </style>
</head>
<body> 
    <div id="wrapper">  
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0"> 
            <div class="navbar-header"> 
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse"> 
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Binary admin</a>  
            </div>
  <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;"> Last access : 30 May 2014 &nbsp; <a href="#" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">                <ul class="nav" id="main-menu">
				<li class="text-center"> 
                    <img src="assets/img/find_user.png" class="user-image img-responsive"/>
				</li>
				
					
        <li>
            <a  href="index.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
        </li>
        <li>
            <a class="active-menu"   href="ui.html"><i class="fa fa-desktop fa-3x"></i> UI Elements</a>
        </li>
        <li>
            <a  href="tab-panel.html"><i class="fa fa-qrcode fa-3x"></i> Tabs & Panels</a>
        </li>
        <li>
            <a  href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i> Morris Charts</a>
        </li>	
        <li>
            <a  href="table.html"><i class="fa fa-table fa-3x"></i> Table Examples</a>
        </li>
        <li>
            <a  href="form.html"><i class="fa fa-edit fa-3x"></i> Forms </a>
        </li>				

                 
        <li>
            <a href="#"><i class="fa fa-sitemap fa-3x"></i> Pregnancy Tracker<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="http://localhost/carvilla-v1.0/Controller/CrudDeliveryDate/Functions.php">Delivery Dates</a>
                </li>
                <li>
                  <a href="http://localhost/carvilla-v1.0/Controller/CrudTrimester/Functions.php">Trimesters</a>
                </li>
                
            </ul>
        </li>  			
               
        </div>
            
        </nav>  
        <!-- /. NAV SIDE  --> 
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Our Products</h2>   
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
                <div class="row">
                
                
                    <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box"> 
                <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-bell-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">240 New</p>
                    <p class="text-muted">Notifications</p>
                </div>
             </div>
		     </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box">
                <span class="icon-box bg-color-brown set-icon">
                    <i class="fa fa-rocket"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">3 Orders</p>
                    <p class="text-muted">Pending</p>
                </div>
             </div>
		     </div>
			</div>







            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Availability</th>
                    <th>Image</th>
                    <th>Creation Date</th>
                    <th>View</th>
                    <th>Update</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr> //3ordh
                    <td>1</td>
                    <td>Product Name</td>
                    <td>Product Description</td>
                    <td>10.00 DT</td>
                    <td>In Stock</td>
                    <td><img src="assets/img/product-1.jpg" alt="Product Image"></td>
                    <td>2023-10-04</td>
                    <td><a href="ViewProduct.php?id=1" class="btn btn-info">View</a></td>
                    <td><a href="ModifierProduct.php?id=1" class="btn btn-success">Update</a></td>
                    <td><a href="SupprimerProduct.php?id=1" class="btn btn-danger">Delete</a></td>
                  </tr>
                  <tr>
                    <td>2</td>
                  </tr>
          
                  </tbody>
              </table>

              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXKrwra6b8Q9" crossorigin="anonymous"></script>
 
                 


           
             
             <!-- /. PAGE INNER   -->
            </div> 
         <!-- /. PAGE WRAPPER  -->
        </div> //
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>  
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script> 
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script> 
     <!-- MORRIS CHART SCRIPTS -->
     <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/js/morris/morris.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    
   
</body>
</html>
