<!doctype html>
<html class="no-js" lang="en">

    <head>
        <!-- meta data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!--font-family-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">
        
        <!-- title of site -->
        <title>Pregnancy Tracker</title>

        <!-- For favicon png -->
		<link rel="shortcut icon" type="image/icon" href="assets/logo/favicon.png"/>
       
        <!--font-awesome.min.css-->
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">

        <!--linear icon css-->
		<link rel="stylesheet" href="assets/css/linearicons.css">

        <!--flaticon.css-->
		<link rel="stylesheet" href="assets/css/flaticon.css">

		<!--animate.css-->
        <link rel="stylesheet" href="assets/css/animate.css">

        <!--owl.carousel.css-->
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
		
        <!--bootstrap.min.css-->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- bootsnav -->
		<link rel="stylesheet" href="assets/css/bootsnav.css" >	
        
        <!--style.css-->
        <link rel="stylesheet" href="assets/css/trackerstyle.css">
		<link rel="stylesheet" type="text/css" href="style.css">

        
        <!--responsive.css-->
        <link rel="stylesheet" href="assets/css/responsive.css">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		
        <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
		
		

    </head>
	
	<body>
		<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
	
		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">

			<!-- top-area Start -->
			<div class="top-area">
				<div class="header-area" style="height:970px">
					<!-- Start Navigation -->
				    <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

				        <div class="container">

				            <!-- Start Header Navigation -->
				            <div class="navbar-header">
				                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
				                    <i class="fa fa-bars"></i>
				                </button>
				                <a class="navbar-brand" href="../model/tracker.html">Pregnancy Tracker<span></span></a>

				            </div><!--/.navbar-header-->
				            <!-- End Header Navigation -->

				            <!-- Collect the nav links, forms, and other content for toggling -->
				            <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
				                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
				                    <li class=" scroll active"><a href="#home">Home</a></li>
				                    <li class="scroll"><a href="#service">Insights</a></li>
				                    <li class="scroll"><a href="http://localhost/web/View/user/DelivFinder.php">Delivery Date</a></li>
				                    <li class="scroll"><a href="#new-cars">Guidance</a></li>
									<li class="scroll"><a href="#clients-say">Feedback  </a></li>
				                    <li class="scroll"><a href="#brand">Contact  </a></li>
				           
				                </ul><!--/.nav -->
				            </div><!-- /.navbar-collapse -->
				        </div><!--/.container-->
				    </nav><!--/nav-->
				    <!-- End Navigation -->
				</div><!--/.header-area-->
			    <div class="clearfix"></div>

			</div><!-- /.top-area-->
			<!-- top-area End -->

			<div class="container">
				<div class="welcome-hero-txt">
					<h2>Pregnancy Tracker</h2>
					<p>
						Your Personalized Guide Through Pregnancy! From tracking milestones to providing week-by-week insights, this tool offers a supportive and informative journey for expectant parents, ensuring a smooth and healthy pregnancy experience				
					</p>
				</div>
			</div>

			

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

		<!--service start -->
		<section id="service" class="service" style="padding-top: 0px;">	  
			<div class="container">
				<div>
					<a href="http://localhost/web/View/user/TrFinder.php">
						<h1 style="padding-bottom: 30px; padding-left: 300px;padding-top: 10px;">
							<span class="underlined underline-clip">Check Your Trimester</span>
						</h1>
					</a>
					
				</div>
				<div class="service-content">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item" style="padding-top: 10px; padding-left: 10px; padding-bottom: 20px;">
								<div class="single-service-icon">
									<iframe width="340" height="200" src="https://www.youtube.com/embed/rJSH6Iy_R-M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<h1><span class="underlined underline-clip">Trimester 1</span></h1>
								<p style="margin-top: 25px;">
									Continue your daily physical activity for as long as you feel comfortable doing so. The more active you are during pregnancy, the easier it will be for you to adapt to your changing body. Make sure to nourish your and your baby's growing bodies with nutritious food.
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item" style="padding-top: 10px; padding-left: 10px; padding-bottom: 20px;">
								<div class="single-service-icon">
									<iframe width="340" height="200" src="https://www.youtube.com/embed/7M-Ol98OLXc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<h1><span class="underlined underline-clip">Trimester 2</span></h1>
								<p style="margin-top: 25px;">
									The second trimester marks a turning point for the mother and fetus. You will usually begin to feel better and start showing the pregnancy more. Your fetus has now developed all its organs and systems and will now begin growing in length and weight.
								<br>
								<br>
								</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-service-item" style="padding-top: 10px; padding-left: 10px; padding-bottom: 20px;">
								<div class="single-service-icon">
									<iframe width="340" height="200" src="https://www.youtube.com/embed/zdApLFd3Gsw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<h1><span class="underlined underline-clip">Trimester 3</span></h1>
								<p style="margin-top: 25px;">
									During the third trimester, your fetus continues to grow in size and weight. The lungs are still maturing, and the fetus begins to position itself head down. By the end of the third trimester, the fetus is about 19 to 21 inches long and weighs, on average, 6 to 9 pounds.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.container-->

		</section><!--/.service-->
		<!--service end-->


		
		<!--new-cars start -->
		<section id="new-cars" class="new-cars" style="padding-top: 40px;">
			<div class="container">
				<div class="section-header">
					<p class="large rise">
						Seeking guidance during pregnancy empowers expectant mothers to make informed decisions
					</p>				
				</div><!--/.section-header-->
				<div class="new-cars-content" style="padding-top: 0px;">
					<div class="owl-carousel owl-theme" id="new-cars-carousel">
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img style="height: 420px;" src="../model/assets/images/new-cars-model/1.jpeg" alt="img"/>
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2><a href="#">First Trimester Tips</a></h2>
											<p style="padding-bottom: 40px;">
												1-Schedule your first prenatal appointment.<br>
												2-Start taking prenatal vitamins.<br>
												3-Get regular exercise.<br>
												4-Schedule your first prenatal appointment.<br>
												5-Eat a healthy diet<br>
												6-Quit smoking and drinking alcohol.<br>
												7-Ask questions.

											</p>
											<button  class="welcome-btn new-cars-btn" onclick="window.location.href='https://www.youtube.com/watch?v=x2sFwxX1Bzk'">
												Watch On Youtube
											</button>
										</div><!--/.new-cars-txt-->	
									</div><!--/.col-->
								</div><!--/.row-->
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="../model/assets/images/new-cars-model/2.jpeg" alt="img"/>
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12" >
										<div class="new-cars-txt" style="margin-top: 5px;">
											<h2><a href="#">Second Trimester Tips</a></h2>
											<p style="margin-top: 0px;">
												1-Limit caffeine: Caffeine can cross the placenta and affect your baby's nervous system. It is best to limit your caffeine intake to 200 milligrams per day.<br>
												2-Manage stress: Stress can have a negative impact on your baby's health. Find healthy ways to manage stress, such as yoga, meditation, or spending time in nature.<br>
												3-Get enough sleep: Most pregnant women need around 7-9 hours of sleep per night. This is because your body is working hard to support your growing baby.

											</p>
											<button class="welcome-btn new-cars-btn" onclick="window.location.href='https://www.youtube.com/watch?v=dd3NcEULtRw'">
												Watch On Youtube 
											</button>
										</div><!--/.new-cars-txt-->	
									</div><!--/.col-->
								</div><!--/.row-->	
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->
						<div class="new-cars-item">
							<div class="single-new-cars-item">
								<div class="row">
									<div class="col-md-7 col-sm-12">
										<div class="new-cars-img">
											<img src="../model/assets/images/new-cars-model/3.jpeg" alt="img"/>
										</div><!--/.new-cars-img-->
									</div>
									<div class="col-md-5 col-sm-12">
										<div class="new-cars-txt">
											<h2><a href="#">Third Trimester Tips</a></h2>
											<p style="margin-top: 0px;" class="new-cars-para2">
												1-Prepare for labor and delivery.<br>
												2-Be aware of the signs of labor and delivery: These include contractions that become regular and stronger, bloody show, and a bulging bag of water. If you experience any of these symptoms, call your doctor immediately.<br>
												3-Take a childbirth class.<br>
												4-Get your flu and Tdap vaccines.<br>
												5-Consider hiring a doula: A doula can provide emotional and physical support during labor and delivery.
											</p>
											<button class="welcome-btn new-cars-btn" onclick="window.location.href='https://www.youtube.com/watch?v=RrwU5exIJSY'">
												Watch On Youtube
											</button>
										</div><!--/.new-cars-txt-->	
									</div><!--/.col-->
								</div><!--/.row-->
							</div><!--/.single-new-cars-item-->
						</div><!--/.new-cars-item-->
					</div><!--/#new-cars-carousel-->
				</div><!--/.new-cars-content-->
			</div><!--/.container-->

		</section><!--/.new-cars-->
		<!--new-cars end -->

		<!-- clients-say strat -->
		<section id="clients-say"  class="clients-say" style="padding-top: 20px;">
			<div class="container">
				<div class="section-header">
					<h2>what our clients say</h2>
				</div><!--/.section-header-->
				<div class="row">
					<div class="owl-carousel testimonial-carousel">
						<div class="col-sm-3 col-xs-12" >
							<div class="single-testimonial-box" >
								<div class="testimonial-description">
									<div class="testimonial-info">
										<div class="testimonial-img">
											<img src="../assets/images/clients/c2.jpeg" alt="image of clients person" />
										</div><!--/.testimonial-img-->
									</div><!--/.testimonial-info-->
									<div class="testimonial-comment">
										<p>
											"Your pregnancy section is a blessing! It provided me with a wealth of information I couldn't easily find elsewhere. From prenatal exercises to week-by-week guides, it's my go-to for all things related to pregnancy."										</p>
									</div><!--/.testimonial-comment-->
									<div class="testimonial-person">
										<h2><a href="#">Emma Peters</a></h2>
										<h4>France</h4>
									</div><!--/.testimonial-person-->
								</div><!--/.testimonial-description-->
							</div><!--/.single-testimonial-box-->
						</div><!--/.col-->
						<div class="col-sm-3 col-xs-12">
							<div class="single-testimonial-box">
								<div class="testimonial-description">
									<div class="testimonial-info">
										<div class="testimonial-img">
											<img src="../assets/images/clients/c1.jpeg" alt="image of clients person" />
										</div><!--/.testimonial-img-->
									</div><!--/.testimonial-info-->
									<div class="testimonial-comment">
										<p>
											"I felt supported and informed throughout my pregnancy journey, thanks to your website. The comprehensive resources on maternity, childbirth preparation, and even postpartum care are nothing short of amazing."										</p>
									</div><!--/.testimonial-comment-->
									<div class="testimonial-person">
										<h2><a href="#">Lana Del Rey</a></h2>
										<h4>New York</h4>
									</div><!--/.testimonial-person-->
								</div><!--/.testimonial-description-->
							</div><!--/.single-testimonial-box-->
						</div><!--/.col-->
						<div class="col-sm-3 col-xs-12">
							<div class="single-testimonial-box">
								<div class="testimonial-description">
									<div class="testimonial-info">
										<div class="testimonial-img">
											<img src="assets/images/clients/c2.png" alt="image of clients person" />
										</div><!--/.testimonial-img-->
									</div><!--/.testimonial-info-->
									<div class="testimonial-comment">
										<p>
											"The pregnancy model is a standout feature! It's so reassuring to find such a well-organized and educational platform. The content is not just detailed but also empathetic to the needs of expecting mothers."										
											<br>
										

										</p>
									</div><!--/.testimonial-comment-->
									<div class="testimonial-person">
										<h2><a href="#">Coleen Hoover</a></h2>
										<h4>washington</h4>
									</div><!--/.testimonial-person-->
								</div><!--/.testimonial-description-->
							</div><!--/.single-testimonial-box-->
						</div><!--/.col-->
					</div><!--/.testimonial-carousel-->
				</div><!--/.row-->
			</div><!--/.container-->

		</section><!--/.clients-say-->	
		<!-- clients-say end -->

		<!--brand strat -->
		<section id="brand"  class="brand" style="padding-top: 80px; padding-bottom: 80px;">
			<div class="container">
				<div class="brand-area">
					<div class="owl-carousel owl-theme brand-item">
						<div class="item">
							<a href="https://www.thebump.com">
								<img src="../assets/images/brand/br1.jpeg" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="https://www.babycenter.com">
								<img src="../assets/images/brand/br2.jpeg" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="https://americanpregnancy.org">
								<img src="../assets/images/brand/br3.png" alt="brand-image" />
							</a>
						</div><!--/.item-->
						<div class="item">
							<a href="https://www.whattoexpect.com">
								<img src="../assets/images/brand/br4.png" alt="brand-image" />
							</a>
						</div><!--/.item-->

						<div class="item">
							<a href="https://www.pregnancybirthbaby.org.au">
								<img src="../assets/images/brand/br5.png" alt="brand-image" />
							</a>
						</div><!--/.item-->

						<div class="item">
							<a href="https://www.tommys.org/pregnancy-information">
								<img src="../assets/images/brand/br6.svg" alt="brand-image" />
							</a>
						</div><!--/.item-->
					</div><!--/.owl-carousel-->
				</div><!--/.clients-area-->

			</div><!--/.container-->

		</section><!--/brand-->	
		<!--brand end -->

		<!--blog start -->
		<section id="blog" class="blog"></section><!--/.blog-->
		<!--blog end -->

		<!--contact start-->
		<footer id="contact"  class="contact">
			<div class="container">
				<div class="footer-top" style="padding-top: 30px; padding-bottom: 0px;">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<div class="footer-logo">
									<a href="index.html">Women's Welness Compass</a>
								</div>
								<p>
									Empowering women through comprehensive health resources, tailored support, and expert guidance for every step of the pregnancy journey								</p>
								<div class="footer-contact">
									<p>WomensWelnessCompass@gmail.com</p>
									<p>(+216) 20.549.004 </p>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="single-footer-widget">
								<h2>about wwc</h2>
								<ul>
									<li><a href="#">about us</a></li>
									<li><a href="#">career</a></li>
									<li><a href="#">terms <span> of service</span></a></li>
									<li><a href="#">privacy policy</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3 col-xs-12">
							<div class="single-footer-widget">
								<h2>Our Sister Sites</h2>
								<div class="row">
									<div class="col-md-7 col-xs-6">
										<ul>
											<li><a href="https://www.thebump.com">TheBump</a></li>
											<li><a href="https://www.babycenter.com">BabyCenter</a></li>
											<li><a href="https://americanpregnancy.org">AmericanPregnancy</a></li>
											<li><a href="https://www.whattoexpect.com">WhatToExpect</a></li>
											<li><a href="https://www.pregnancybirthbaby.org.au">PregnancyBirth&Baby</a></li>
											<li><a href="https://www.tommys.org/pregnancy-information">Tommy's</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-offset-1 col-md-3 col-sm-6">
							<div class="single-footer-widget">
								<h2>news letter</h2>
								<div class="footer-newsletter">
									<p>
										Subscribe to get latest news  update and informations
									</p>
								</div>
								<div class="hm-foot-email">
									<div class="foot-email-box">
										<input type="text" class="form-control" placeholder="Add Email">
									</div><!--/.foot-email-box-->
									<div class="foot-email-subscribe">
										<span><i class="fa fa-arrow-right"></i></span>
									</div><!--/.foot-email-icon-->
								</div><!--/.hm-foot-email-->
							</div>
						</div>
						
					</div>
				</div>
				<div class="footer-copyright">
					<div class="row">
						<div class="col-sm-6">
							<p>
								&copy; copyright.designed and developed by <a href="https://www.themesine.com/">CodeCrafters</a>.
							</p><!--/p-->
						</div>
						<div class="col-sm-6">
							<div class="footer-social">
								<a href="#"><i class="fa fa-facebook"></i></a>	
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-pinterest-p"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>	
							</div>
						</div>
					</div>
				</div><!--/.footer-copyright-->
			</div><!--/.container-->

			<div id="scroll-Top">
				<div class="return-to-top">
					<i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
				</div>
				
			</div><!--/.scroll-Top-->
			
        </footer><!--/.contact-->
		<!--contact end-->


		
		<!-- Include all js compiled plugins (below), or include individual files as needed -->

		<script src="assets/js/jquery.js"></script>
        
        <!--modernizr.min.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		
		<!--bootstrap.min.js-->
        <script src="assets/js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="assets/js/bootsnav.js"></script>

		<!--owl.carousel.js-->
        <script src="assets/js/owl.carousel.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--Custom JS-->
        <script src="assets/js/custom.js"></script>
        
    </body>
	
</html>